<section class="shop">
    <div class="container">
        <div class="shop__body">
            <div class="shop__body-text">
                <h2 class="shop__body-text-title">
                    Каталог продукции от НижегородСтальСервис
                </h2>
            </div>
            <div class="shop__body-block">
                <a href="" class="shop__body-block-item">
                    <span>Сортовой <br>
                        прокат</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/catalog/1.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Арматура, катанка
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Балка, швеллер
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Уголок
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Полоса, квадрат
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Оцинкованный прокат
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                            Полоса
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Круг
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Трубный <br>
                        прокат</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/catalog/2.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Труба профильная
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Трубы низколегированные
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Труба Б/Ш
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                            Труба Х/Д
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Труба Г/Д
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Труба ВГП
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Труба ОЦ
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Труба Э/С 
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Цветной <br>прокат</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/catalog/6.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Алюминий
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Медь
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Латунь
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Листовой <br>
                        прокат</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/shop/2.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Лист г/к
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Лист перфорированный
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Лист х/к
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Лист оцинкованный
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Лист рифленый
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Лист ПВЛ
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Рулонная сталь
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Всё для <b></b>
                        забора и кровли</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/catalog/8.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Профнастил
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Металлочерепица
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Штакетник
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Доборные элементы
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Стеновой материал
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Сетка-рабица
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Фальцевая кровля
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Запорная арматура</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/catalog/5.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Краны шаровые
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Задвижки
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Затворы
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Клапаны
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Предохранительная арм
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Радиаторная арм
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Элеваторы
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Коллекторные группы
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Метизы
                    </span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/catalog/7.png" alt="">
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Калибровка
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Проволока, канаты
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Сетка, лента
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Проволока
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                 
                            Квадрат
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                            Электроды
                        </div>
                    </div>
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Поликарбонат</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                                Сотовой
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                                Монолитный
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                
                                Комплектующие <br>для поликарбоната
                        </div>
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/shop/1.png" alt="">
                </a>
                <a href="" class="shop__body-block-item">
                    <span>ЖБИ</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <div class="shop__body-block-item-list">
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Лотки
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Марши
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Опорные подушки
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Перемычки
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Плиты
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Прогоны
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Ступени лестничные
                        </div>
                        <div class="shop__body-block-item-list-item">
                            <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9 0.5L18 9.5L9 18.5L0 9.5L9 0.5Z" fill="#CFCFCF"/>
                                </svg>
                                Фундаментные блоки
                        </div>
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/shop/4.png" alt="">
                </a>
                <a href="" class="shop__body-block-item">
                    <span>Строительные <br>
                        и отделочные материалы</span>
                    <div class="arrow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 7H17M17 7V17M17 7L7 17" stroke="#42474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                            
                    </div>
                    <img class="shop__body-block-item-img" src="../images/dist/shop/3.png" alt="">
                </a>
                <form action="" class="shop__body-block-form">
                    <div class="shop__body-block-form-text">
                        <span>Нужна помощь?</span>
                        <p>Оставьте свои контактные данные, <br>
                            и менеджер поможет с выбором</p>
                    </div>
                    <div class="shop__body-block-form-main">
                        <div class="shop__body-block-form-main-wrap">
                            <span>Введите ваше имя</span>
                            <input placeholder="Дмитрий" type="text">
                        </div>
                        <div class="shop__body-block-form-main-wrap">
                            <span>Введите номер телефона</span>
                            <input placeholder="+7 900 000 000" type="tel">
                        </div>
                        <button>Получить консультацию менеджера</button>
                    </div>
                    
                </form>
            </div>
            <p class="shop__body-desc">
                Есть над чем задуматься: действия представителей оппозиции набирают популярность среди определенных слоев населения, а значит, должны быть преданы социально-демократической анафеме. Современные технологии достигли такого уровня, что высокотехнологичная концепция общественного уклада, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. Но постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации поставленных обществом задач. Следует отметить, что высококачественный прототип будущего проекта прекрасно подходит для реализации глубокомысленных рассуждений.
            </p>
        </div>
    </div>
</section>