<section class="popular">
    <div class="container">
        <div class="popular__body">
            <h2 class="popular__body-title">
                Похожие товары
            </h2>
            <div id="dif" class="splide" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#42474B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#42474B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide popular__body-block">
                            <div class="popular__body-block-item">
                                <div class="popular__body-block-item-top">
                                    <img src="../images/dist/dif.png" alt="">
                                    <a href="">
                                        подробнее
                                    </a>
                                    <p>91 272 ₽/м</p>
                                </div>
                                <span class="popular__body-block-item-name text__dif">Лист горячекатный <br>
                                    100x1500x6000</span>
                            </div>
                            <div class="popular__body-block-item">
                                <div class="popular__body-block-item-top">
                                    <img src="../images/dist/dif.png" alt="">
                                    <a href="">
                                        подробнее
                                    </a>
                                    <p>91 272 ₽/м</p>
                                </div>
                                <span class="popular__body-block-item-name text__dif">Лист горячекатный <br>
                                    100x1500x6000</span>
                            </div>
                            <div class="popular__body-block-item">
                                <div class="popular__body-block-item-top">
                                    <img src="../images/dist/dif.png" alt="">
                                    <a href="">
                                        подробнее
                                    </a>
                                    <p>91 272 ₽/м</p>
                                </div>
                                <span class="popular__body-block-item-name text__dif">Лист горячекатный <br>
                                    100x1500x6000</span>
                            </div>
                            <div class="popular__body-block-item">
                                <div class="popular__body-block-item-top">
                                    <img src="../images/dist/dif.png" alt="">
                                    <a href="">
                                        подробнее
                                    </a>
                                    <p>91 272 ₽/м</p>
                                </div>
                                <span class="popular__body-block-item-name text__dif">Лист горячекатный <br>
                                    100x1500x6000</span>
                            </div>
                            <div class="popular__body-block-item">
                                <div class="popular__body-block-item-top">
                                    <img src="../images/dist/dif.png" alt="">
                                    <a href="">
                                        подробнее
                                    </a>
                                    <p>91 272 ₽/м</p>
                                </div>
                                <span class="popular__body-block-item-name text__dif">Лист горячекатный <br>
                                    100x1500x6000</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>