<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__body-start">
                <a href="" class="footer__body-start-logo">
                    <img src="../images/dist/footer.png" alt="">
                </a>
                <div class="line"></div>
                <p class="footer__body-start-text">
                    Металлопрокат <br>
                    и металлообработка <br>
                    в Н.Новгороде
                </p>
            </div>
            <p class="footer__body-info">
                НижегородСтальСервис <br>
                ИНН 5257180548 <br>
                ОГРН 1185275023141
            </p>
            <div class="footer__body-right">
                <span>Все права защищены</span>
                <a href="">Политика конфиденциальности</a>
                <span>© 2024 г</span>
            </div>
        </div>
    </div>
</footer>