<section class="partners">
    <div class="container">
        <div class="partners__body">
            <a href="" class="partners__body-logo">
                <img src="../images/dist/header__white.png" alt="">
            </a>
            <p class="partners__body-desc">
                Благодаря сотрудничеству с популярными и надежными производителями мы готовы
                обеспечить вашу стройку всеми необходимыми
                материалами
            </p>
            <div class="partners__body-attr">
                <div class="partners__body-attr-item">
                    <span>
                        Строительные <br>
                        и отделочные<br>
                        материалы<br>
                    </span>
                </div>
                <div class="partners__body-attr-item">
                    <span>
                        Всё для забора <br>
                        и кровли
                    </span>
                </div>
                <div class="partners__body-attr-item">
                    <span>
                        ЖБИ
                    </span>
                </div>
                <div class="partners__body-attr-item">
                    <span>
                        Поликарбонат
                    </span>
                </div>
                <div class="partners__body-attr-item">
                    <span>
                        Метизы
                    </span>
                </div>
            </div>
            <h2 class="partners__body-title">
                Наши партнеры
            </h2>
            <div class="partners__body-block">
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/1.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/2.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/3.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/4.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/1.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/2.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/3.png" alt="">
                </div>
                <div class="partners__body-block-item">
                    <img src="../images/dist/part/4.png" alt="">
                </div>
            </div>
            <a href="">
                Смотреть всех партнеров
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 7H17M17 7V17M17 7L7 17" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                    
            </a>
        </div>
    </div>
</section>