<section class="popular">
    <div class="container">
        <div class="popular__body">
            <h2 class="popular__body-title">
                Популярные разделы металлопродукции
            </h2>
            <div class="popular__body-block">
                <div class="popular__body-block-item">
                    <div class="popular__body-block-item-top">
                        <img src="../images/dist/pop/1.png" alt="">
                        <a href="">
                            подробнее
                        </a>
                        <p>от 55 руб./м</p>
                    </div>
                    <span class="popular__body-block-item-name">Арматура</span>
                </div>
                <div class="popular__body-block-item">
                    <div class="popular__body-block-item-top">
                        <img src="../images/dist/pop/2.png" alt="">
                        <a href="">
                            подробнее
                        </a>
                        <p>от 55 руб./м</p>
                    </div>
                    <span class="popular__body-block-item-name">Труба</span>
                </div>
                <div class="popular__body-block-item">
                    <div class="popular__body-block-item-top">
                        <img src="../images/dist/pop/3.png" alt="">
                        <a href="">
                            подробнее
                        </a>
                        <p>от 55 руб./м</p>
                    </div>
                    <span class="popular__body-block-item-name">Балка</span>
                </div>
                <div class="popular__body-block-item">
                    <div class="popular__body-block-item-top">
                        <img src="../images/dist/pop/4.png" alt="">
                        <a href="">
                            подробнее
                        </a>
                        <p>от 55 руб./м</p>
                    </div>
                    <span class="popular__body-block-item-name">Швеллер</span>
                </div>
                <div class="popular__body-block-item">
                    <div class="popular__body-block-item-top">
                        <img src="../images/dist/pop/5.png" alt="">
                        <a href="">
                            подробнее
                        </a>
                        <p>от 55 руб./м</p>
                    </div>
                    <span class="popular__body-block-item-name">Уголок</span>
                </div>
            </div>
        </div>
    </div>
</section>