<section class="review">
    <div class="container">
        <div class="review__body">
            <div class="review__body-top">
                <h2>
                    "Ночью написала, утром созвонились, в обед загрузили <br>
                    ﻿и в 15 часов мы уже с материалом!"
                </h2>
                <p>и другие отзывы о нашей работе</p>
                <div class="review__body-top-items">
                    <div class="review__body-top-items-item">
                        <div class="review__body-top-items-item-top">
                            <span>4,4 из 5</span>
                            <img src="../images/dist/star/1.png" alt="">
                        </div>
                        <img class="review__body-top-items-item-place" src="../images/dist/rat__black/1.png" alt="">
                    </div>
                    <div class="review__body-top-items-item">
                        <div class="review__body-top-items-item-top">
                            <span>4,5 из 5</span>
                            <img src="../images/dist/star/2.png" alt="">
                        </div>
                        <img class="review__body-top-items-item-place" src="../images/dist/rat__black/2.png" alt="">
                    </div>
                    <div class="review__body-top-items-item">
                        <div class="review__body-top-items-item-top">
                            <span>4,2 из 5</span>
                            <img src="../images/dist/star/3.png" alt="">
                        </div>
                        <img class="review__body-top-items-item-place" src="../images/dist/rat__black/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="splide" id="rev" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#42474B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </button>
                    <button class="splide__arrow splide__arrow--next">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9 5L16 12L9 19" stroke="#42474B" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>

                    </button>
                </div>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <span>Анна Федорова</span>
                            <p>
                                Есть над чем задуматься: действия представителей оппозиции набирают популярность среди
                                определенных слоев населения, а значит, должны быть преданы социально-демократической
                                анафеме. Современные технологии достигли такого уровня, что высокотехнологичная
                                концепция общественного уклада, в своём классическом представлении, допускает внедрение
                                поэтапного и последовательного развития общества. Но постоянный количественный рост и
                                сфера нашей активности влечет за собой процесс внедрения и модернизации поставленных
                                обществом задач. Следует отметить, что высококачественный прототип будущего проекта
                                прекрасно подходит для реализации глубокомысленных рассуждений.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>