<section class="stage">
    <div class="container">
        <div class="stage__body">
            <div class="stage__body-text">
                <h2>За 5 дней из листа <br>
                    в готовое изделие</h2>
                <p>Выполняем полный цикл металлообработки и сборки, при необходимости</p>
            </div>
            <div class="stage__body-block">
                <div class="stage__body-block-top">
                    <div class="stage__body-block-top-item">
                        <div class="stage__body-block-top-item-top">
                            <img src="../images/dist/stage/1.png" alt="">
                            <a href="">
                                подробнее
                            </a>
                        </div>
                        <span class="stage__body-block-top-item-name">Резка 
                            металла</span>
                    </div>
                    <div class="stage__body-block-top-item">
                        <div class="stage__body-block-top-item-top">
                            <img src="../images/dist/stage/2.png" alt="">
                            <a href="">
                                подробнее
                            </a>
                        </div>
                        <span class="stage__body-block-top-item-name">Гибка 
                            металла</span>
                    </div>
                    <div class="stage__body-block-top-item">
                        <div class="stage__body-block-top-item-top">
                            <img src="../images/dist/stage/3.png" alt="">
                            <a href="">
                                подробнее
                            </a>
                        </div>
                        <span class="stage__body-block-top-item-name">Лазерная 
                            обработка</span>
                    </div>
                    <div class="stage__body-block-top-item">
                        <div class="stage__body-block-top-item-top">
                            <img src="../images/dist/stage/4.png" alt="">
                            <a href="">
                                подробнее
                            </a>
                        </div>
                        <span class="stage__body-block-top-item-name">Плазменная 
                            резка</span>
                    </div>
                </div>
                <div class="stage__body-block-bot">
                    <div class="stage__body-block-bot-wrap">
                        <div class="stage__body-block-bot-wrap-item">
                            <div class="stage__body-block-bot-wrap-item-top">
                                <img src="../images/dist/stage/5.png" alt="">
                                <a href="">
                                    подробнее
                                </a>
                            </div>
                            <span class="stage__body-block-bot-wrap-item-name">труборез</span>
                        </div>
                        <div class="stage__body-block-bot-wrap-item">
                            <div class="stage__body-block-bot-wrap-item-top">
                                <img src="../images/dist/stage/6.png" alt="">
                                <a href="">
                                    подробнее
                                </a>
                            </div>
                            <span class="stage__body-block-bot-wrap-item-name">Сварочные
                                работы</span>
                        </div>
                        <div class="stage__body-block-bot-wrap-item">
                            <div class="stage__body-block-bot-wrap-item-top">
                                <img src="../images/dist/stage/7.png" alt="">
                                <a href="">
                                    подробнее
                                </a>
                            </div>
                            <span class="stage__body-block-bot-wrap-item-name">Окрашивание
                                металла</span>
                        </div>
                        <div class="stage__body-block-bot-wrap-item">
                            <div class="stage__body-block-bot-wrap-item-top">
                                <img src="../images/dist/stage/8.png" alt="">
                                <a href="">
                                    подробнее
                                </a>
                            </div>
                            <span class="stage__body-block-bot-wrap-item-name">Конструкторская
                                сборка</span>
                        </div>
                    </div>
                    <form action="" class="stage__body-block-bot-form">
                        <div class="stage__body-block-bot-form-text">
                            <span>...или изготовим <br> металлоизделие <br>
                                по вашим чертежам</span>
                            <p>Оставьте заявку и прикрепите чертёж. <br>
                                Подготовим расчет в течение 24 часов</p>
                        </div>
                        <div class="stage__body-block-bot-form-main">
                            <div class="stage__body-block-bot-form-main-wrap">
                                <span>Введите ваше имя</span>
                                <input placeholder="Дмитрий" type="text">
                            </div>
                            <div class="stage__body-block-bot-form-main-wrap">
                                <span>Введите номер телефона</span>
                                <input placeholder="+7 900 000 000" type="tel">
                            </div>
                            <label for="checkbox" class="checkbox-label">
                                <input type="checkbox" id="checkbox" class="checkbox">
                                <span class="checkbox-view"></span>
                                Нажимая на кнопку вы соглашаетесь с <a href="">Политикой конфиденциальности</a>
                            </label>
                            <button>Получить расчет</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>