<section class="trash">
    <div class="container">
        <div class="trash__body">
            <h1 class="trash__body-title">
                Корзина
            </h1>
            <div class="trash__body-block">
                <div class="trash__body-block-top">
                    <span>Наименование товара</span>
                    <span>Количество</span>
                    <span>Единица</span>
                    <span>Цена с НДС</span>
                    <span>Стоимость</span>
                    <span>Действие</span>
                </div>
                <div class="trash__body-block-list">
                    <div class="trash__body-block-list-item">
                        <div class="trash__body-block-list-item-wrap">
                            <label for="checkbox1" class="checkbox-label">
                                <input type="checkbox" id="checkbox1" class="checkbox">
                                <span class="checkbox-view">
                                    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 511.985 511.985">
                                        <path fill="#000" d="M500.088 83.681c-15.841-15.862-41.564-15.852-57.426 0L184.205 342.148 69.332 227.276c-15.862-15.862-41.574-15.862-57.436 0-15.862 15.862-15.862 41.574 0 57.436l143.585 143.585c7.926 7.926 18.319 11.899 28.713 11.899 10.394 0 20.797-3.963 28.723-11.899l287.171-287.181c15.862-15.851 15.862-41.574 0-57.435z"/>
                                    </svg>
                                </span>
                            </label>
                            <img class="trash__body-block-list-item-img" src="../images/dist/tr.png" alt="">
                            <span class="trash__body-block-list-item-name">Лист алюминевый 2.5х1200х3000 2.50 АМЦН2</span>
                        </div>
                        <input value="28,8" class="trash__body-block-list-item-col">
                        <select class="trash__body-block-list-item-pood">
                            <option value="">кг</option>
                            <option value="">г</option>
                            <option value="">т</option>
                        </select>
                        <span class="trash__body-block-list-item-nds">
                            553
                        </span>
                        <span class="trash__body-block-list-item-price">
                            18 852
                        </span>
                        <button class="trash__body-block-list-item-do">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 18L6 6" stroke="#73787C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 6L6 18" stroke="#73787C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                    </div>
                    <div class="trash__body-block-list-item">
                        <div class="trash__body-block-list-item-wrap">
                            <label for="checkbox2" class="checkbox-label">
                                <input type="checkbox" id="checkbox2" class="checkbox">
                                <span class="checkbox-view">
                                    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 511.985 511.985">
                                        <path fill="#000" d="M500.088 83.681c-15.841-15.862-41.564-15.852-57.426 0L184.205 342.148 69.332 227.276c-15.862-15.862-41.574-15.862-57.436 0-15.862 15.862-15.862 41.574 0 57.436l143.585 143.585c7.926 7.926 18.319 11.899 28.713 11.899 10.394 0 20.797-3.963 28.723-11.899l287.171-287.181c15.862-15.851 15.862-41.574 0-57.435z"/>
                                    </svg>
                                </span>
                            </label>
                            <img class="trash__body-block-list-item-img" src="../images/dist/tr.png" alt="">
                            <span class="trash__body-block-list-item-name">Лист алюминевый 2.5х1200х3000 2.50 АМЦН2</span>
                        </div>
                        <input value="28,8" class="trash__body-block-list-item-col">
                        <select class="trash__body-block-list-item-pood">
                            <option value="">кг</option>
                            <option value="">г</option>
                            <option value="">т</option>
                        </select>
                        <span class="trash__body-block-list-item-nds">
                            553
                        </span>
                        <span class="trash__body-block-list-item-price">
                            18 852
                        </span>
                        <button class="trash__body-block-list-item-do">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 18L6 6" stroke="#73787C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 6L6 18" stroke="#73787C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                    </div>
                    <div class="trash__body-block-list-item">
                        <div class="trash__body-block-list-item-wrap">
                            <label for="checkbox3" class="checkbox-label">
                                <input type="checkbox" id="checkbox3" class="checkbox">
                                <span class="checkbox-view">
                                    <svg class="checkbox-icon" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 511.985 511.985">
                                        <path fill="#000" d="M500.088 83.681c-15.841-15.862-41.564-15.852-57.426 0L184.205 342.148 69.332 227.276c-15.862-15.862-41.574-15.862-57.436 0-15.862 15.862-15.862 41.574 0 57.436l143.585 143.585c7.926 7.926 18.319 11.899 28.713 11.899 10.394 0 20.797-3.963 28.723-11.899l287.171-287.181c15.862-15.851 15.862-41.574 0-57.435z"/>
                                    </svg>
                                </span>
                            </label>
                            <img class="trash__body-block-list-item-img" src="../images/dist/tr.png" alt="">
                            <span class="trash__body-block-list-item-name">Лист алюминевый 2.5х1200х3000 2.50 АМЦН2</span>
                        </div>
                        <input value="28,8" class="trash__body-block-list-item-col">
                        <select class="trash__body-block-list-item-pood">
                            <option value="">кг</option>
                            <option value="">г</option>
                            <option value="">т</option>
                        </select>
                        <span class="trash__body-block-list-item-nds">
                            553
                        </span>
                        <span class="trash__body-block-list-item-price">
                            18 852
                        </span>
                        <button class="trash__body-block-list-item-do">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 18L6 6" stroke="#73787C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M18 6L6 18" stroke="#73787C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                                
                        </button>
                    </div>
                </div>
                <div class="trash__body-block-btns">
                    <button>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 12H3" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 3V21.0001" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Добавить резку</span>
                    </button>
                    <button>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 12H3" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 3V21.0001" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Манипулятор для загрузки</span>
                    </button>
                    <button>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M21 12H3" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M12 3V21.0001" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>
                                Комментарий
                            </span>
                    </button>
                </div>
                <img src="../images/dist/tr__line.png" alt="" class="line">
                <div class="trash__body-result">
                    <h2>
                        ИТОГО: <span>420 000 ₽ </span>
                    </h2>
                    <div class="trash__body-result-attr">
                        <span>В том числе НДС: 420 000 ₽ </span>
                        <span>Выбрано товаров: 2</span>
                        <span>Скидка: 116₽</span>
                    </div>
                    <button>Оформить заказ</button>
                    <p>
                        Нажимая на кнопку вы соглашаетесь с <a href="">Политикой конфиденциальности</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>