<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
" rel="stylesheet">    
<link rel="stylesheet" href="../scss/style.min.css">
    <title>Нижегород Сталь сервис</title>
</head>
<body>
    <header class="header__black">
        <div class="container">
            <div class="header__black-body">
                <a href="" class="header__black-body-logo">
                    <img src="../images/dist/header__black.png" alt="">
                </a>
                <div class="header__black-body-menu desk">
                    <div class="header__black-body-menu-top">
                        <p class="header__black-body-menu-top-name">
                            Металлопрокат <br>
                            и металлообработка <br>
                            в Н.Новгороде <br>
                        </p>
                        <p class="header__black-body-menu-top-address">
                            г. Нижний Новгород, <br>
                            ул. Ореховская 80
                        </p>
                        <a href="" class="header__black-body-menu-top-calc">
                            <svg width="40" height="41" viewBox="0 0 40 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M14.5184 23.1742V18.6583M16.7876 20.9167H12.2734M12.9293 30.14L16.1209 26.9483M16.1293 30.1492L12.9376 26.9575M27.7301 30.1383H23.2168M27.7334 20.9142H23.2201M27.7343 27.01H23.2201" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M28.2771 8.83423H11.723C11.2627 8.83423 10.8896 9.20732 10.8896 9.66756V14.2484C10.8896 14.7086 11.2627 15.0817 11.723 15.0817H28.2771C28.7374 15.0817 29.1105 14.7086 29.1105 14.2484V9.66756C29.1105 9.20732 28.7374 8.83423 28.2771 8.83423Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M30.4163 4.25H9.58301C8.91997 4.25 8.28408 4.51339 7.81524 4.98223C7.3464 5.45107 7.08301 6.08696 7.08301 6.75V34.25C7.08301 34.913 7.3464 35.5489 7.81524 36.0178C8.28408 36.4866 8.91997 36.75 9.58301 36.75H30.4163C31.0794 36.75 31.7153 36.4866 32.1841 36.0178C32.6529 35.5489 32.9163 34.913 32.9163 34.25V6.75C32.9163 6.08696 32.6529 5.45107 32.1841 4.98223C31.7153 4.51339 31.0794 4.25 30.4163 4.25Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>                            
                            <span>Калькулятор  металла</span>
                        </a>
                        <div class="header__black-body-menu-top-cont">
                            <a href="tel:+78312653311">+7 (831) 265-33-11</a>
                            <a href="mailto:info@stalsnabnn.ru">info@stalsnabnn.ru</a>
                        </div>
                        <div class="header__black-body-menu-top-btns">
                            <a href="">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M25.441 8.62276C24.6984 6.22658 24.3265 5.02851 23.3295 4.50975C22.3297 3.98969 21.0941 4.35317 18.623 5.07873L16.0017 5.84616C13.5305 6.57035 12.295 6.93382 11.7589 7.90382C11.2213 8.87248 11.5919 10.0706 12.3344 12.4654L13.1228 15.0076C13.8653 17.4024 14.2358 18.6005 15.2342 19.1192C16.2327 19.6393 17.4682 19.2758 19.9393 18.5516L22.5606 17.7815C25.0317 17.0573 26.2673 16.6952 26.8049 15.7265C27.0997 15.1938 27.121 14.5925 26.9561 13.7614" stroke="#090628" stroke-width="2" stroke-linecap="round"/>
                                    <circle cx="4.81959" cy="4.81959" r="4.81959" transform="matrix(1 0 0 -1 5.67383 29.8342)" stroke="#090628" stroke-width="2"/>
                                    <path d="M28.7377 19.8499L15.3117 23.981M10.1478 19.8499L7.19334 10.3955C6.88451 9.40728 6.14729 8.6105 5.18596 8.22597L3.2627 7.45667" stroke="#090628" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <div class="circle">
                                    12
                                </div>                                
                            </a>
                            <a href="">
                                <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.0003 15.2692C14.2885 15.2692 12.854 14.6817 11.6966 13.5066C10.5393 12.3314 9.96 10.8741 9.95866 9.13462C9.95866 7.43056 10.538 5.9821 11.6966 4.78926C12.8553 3.59642 14.2899 3 16.0003 3C17.6786 3 19.1051 3.59642 20.2798 4.78926C21.4546 5.9821 22.042 7.43056 22.042 9.13462C22.042 10.8728 21.4546 12.3301 20.2798 13.5066C19.1051 14.683 17.6786 15.2706 16.0003 15.2692ZM3.91699 29.5833V25.6981C3.91699 24.9824 4.09354 24.3096 4.44664 23.6798C4.79975 23.05 5.27771 22.5469 5.88053 22.1707C7.42451 21.2505 9.04435 20.5518 10.74 20.0747C12.4357 19.5975 14.1892 19.359 16.0003 19.359C17.8115 19.359 19.5656 19.5975 21.2626 20.0747C22.9596 20.5518 24.5788 21.2505 26.1201 22.1707C26.7243 22.5456 27.2029 23.0486 27.556 23.6798C27.9091 24.311 28.085 24.9837 28.0836 25.6981V29.5833H3.91699Z" stroke="#090628" stroke-width="2"/>
                                </svg>                                
                            </a>
                        </div>
                    </div>
                    <nav class="header__black-body-menu-nav">
                        <ul>
                            <li class="active">
                                <a href="">Главная</a>
                            </li>
                            <li>
                                <a href="">Каталог</a>
                            </li>
                            <li>
                                <a href="">Услуги</a>
                            </li>
                            <li>
                                <a href="">доставка и оплата </a>
                            </li>
                            <li>
                                <a href="">Контакты</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="bred">
        <div class="container">
            <div class="bred__body">
                <span>Главная </span>
                <span>\</span>
                <span>Личный кабинет</span>
            </div>
        </div>
    </div>
    <section class="user">
        <div class="container">
            <div class="user__body">
                <h1 class="user__body-title">
                    личный кабинет
                </h1>
                <div class="user__body-top">
                    <div class="user__body-top-tab">
                        <button class="user__body-top-tab-item active">
                            Мой профиль
                        </button>
                        <button class="user__body-top-tab-item">
                            Мои заказы
                        </button>
                    </div>
                    <a href="">Выход из личного кабинета</a>
                </div>
                <div class="user__body-block">
                    <h2>
                        Ваши данные 
                    </h2>
                    <div class="user__body-block-items">
                        <div class="user__body-block-items-wrap col-3">
                            <div class="user__body-block-items-wrap-left">
                                <span>Имя</span>
                                <input value="Алексей" type="text" readonly>
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-3">
                            <div class="user__body-block-items-wrap-left">
                                <span>Телефон</span>
                                <input readonly value="+7 920 017 4244" type="tel">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-3">
                            <div class="user__body-block-items-wrap-left">
                                <span>Эл.почта</span>
                                <input type="email" value="info@company.com" readonly>
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-2">
                            <div class="user__body-block-items-wrap-left">
                                <span>Логин</span>
                                <input value="userlogin" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-2">
                            <div class="user__body-block-items-wrap-left">
                                <span>Пароль</span>
                                <input type="password" readonly value="12345678">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                    </div>
                </div>
                <div class="user__body-block">
                    <h2>
                        Реквизиты Вашей компании
                    </h2>
                    <div class="user__body-block-items">
                        <div class="user__body-block-items-wrap col-4">
                            <div class="user__body-block-items-wrap-left">
                                <span>Название компании</span>
                                <input value="ООО “Компания НН”" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-4">
                            <div class="user__body-block-items-wrap-left">
                                <span>ИНН</span>
                                <input value="7736050003" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-4">
                            <div class="user__body-block-items-wrap-left">
                                <span>КПП</span>
                                <input value="7736050003" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-4">
                            <div class="user__body-block-items-wrap-left">
                                <span>ОГРН</span>
                                <input value="7736050003" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-1">
                            <div class="user__body-block-items-wrap-left">
                                <span>Юридический адрес</span>
                                <input value="197229, город Санкт-Петербург, Лахтинский пр-кт, д. 2 к. 3 стр. 1" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-1">
                            <div class="user__body-block-items-wrap-left">
                                <span>Фактический адресс</span>
                                <input value="197229, город Санкт-Петербург, Лахтинский пр-кт, д. 2 к. 3 стр. 1" readonly type="text">
                            </div>
                            <button class="edit">
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.333 20H20.333" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M16.4368 4.66848C16.6488 4.45654 16.9004 4.28843 17.1773 4.17373C17.4542 4.05903 17.751 4 18.0507 4C18.3504 4 18.6472 4.05903 18.9241 4.17373C19.201 4.28843 19.4526 4.45654 19.6645 4.66848C19.8765 4.88041 20.0446 5.13201 20.1593 5.40891C20.274 5.68582 20.333 5.9826 20.333 6.28232C20.333 6.58204 20.274 6.87882 20.1593 7.15573C20.0446 7.43263 19.8765 7.68423 19.6645 7.89617L8.77108 18.7896L4.33301 20L5.54339 15.5619L16.4368 4.66848Z" stroke="#007AFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                
                            </button>
                        </div>
                    </div>
                </div>
                <div class="user__body-block">
                    <h2>
                        Адреса доставки
                    </h2>
                    <div class="user__body-block-items">
                        <div class="user__body-block-items-wrap col-1">
                            <div class="user__body-block-items-wrap-left">
                                <span>Адрес</span>
                                <input value="197229, город Санкт-Петербург, Лахтинский пр-кт, д. 2 к. 3 стр. 1" readonly type="text">
                            </div>
                            <button class="del">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18L6 6" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                                               
                            </button>
                        </div>
                        <div class="user__body-block-items-wrap col-1">
                            <div class="user__body-block-items-wrap-left">
                                <span>Адрес</span>
                                <input value="197229, город Санкт-Петербург, Лахтинский пр-кт, д. 2 к. 3 стр. 1" readonly type="text">
                            </div>
                            <button class="del">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18 18L6 6" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M18 6L6 18" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                                                
                            </button>
                        </div>
                        <div class="user__body-block-items-add">
                            <input placeholder="Добавить адрес" type="text">
                            <button class="user__body-block-items-add-end">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2.75C8.00868 2.75 4.75 6.04763 4.75 10.143V10.144C4.75 12.241 5.35256 14.5357 6.43356 16.526C7.51603 18.519 9.04578 20.1492 10.8546 20.9945L10.855 20.9948C11.2134 21.1626 11.6043 21.2496 12 21.2496C12.3957 21.2496 12.7866 21.1626 13.145 20.9948L13.1456 20.9945C14.9542 20.1496 16.4839 18.5193 17.5664 16.526C18.6474 14.5353 19.25 12.24 19.25 10.143C19.25 6.04763 15.9913 2.75 12 2.75ZM3.25 10.143C3.25 5.24437 7.15532 1.25 12 1.25C16.8447 1.25 20.75 5.24437 20.75 10.143C20.75 12.508 20.0761 15.0477 18.8846 17.2418C17.6946 19.4332 15.9558 21.3374 13.7804 22.3535C13.2231 22.6144 12.6153 22.7496 12 22.7496C11.3846 22.7496 10.7768 22.6143 10.2194 22.3535C8.04422 21.3368 6.30547 19.433 5.11544 17.242C3.92394 15.0483 3.25 12.509 3.25 10.144V10.143Z" fill="#007AFF"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12 7.75C10.7574 7.75 9.75 8.75736 9.75 10C9.75 11.2426 10.7574 12.25 12 12.25C13.2426 12.25 14.25 11.2426 14.25 10C14.25 8.75736 13.2426 7.75 12 7.75ZM8.25 10C8.25 7.92893 9.92893 6.25 12 6.25C14.0711 6.25 15.75 7.92893 15.75 10C15.75 12.0711 14.0711 13.75 12 13.75C9.92893 13.75 8.25 12.0711 8.25 10Z" fill="#007AFF"/>
                                </svg>                                
                                <span>Указать на карте</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__body">
                <div class="footer__body-start">
                    <a href="" class="footer__body-start-logo">
                        <img src="../images/dist/footer.png" alt="">
                    </a>
                    <div class="line"></div>
                    <p class="footer__body-start-text">
                        Металлопрокат <br>
                        и металлообработка <br>
                        в Н.Новгороде
                    </p>
                </div>
                <p class="footer__body-info">
                    НижегородСтальСервис <br>
                    ИНН 5257180548 <br>
                    ОГРН 1185275023141
                </p>
                <div class="footer__body-right">
                    <span>Все права защищены</span>
                    <a href="">Политика конфиденциальности</a>
                    <span>© 2024 г</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <script src="../js/main.min.js"></script>
</body>
</html>


